/*
*{
    border: 1px solid red;
}
*/
.header{
    background-color: grey;
    height: 100px;
}
.nav{
    background-color: black;
    color: white;
}
.footer{
    background-color: gray;
}
.promo {
    background-color: white;
}